from django.shortcuts import render, redirect
from django.contrib.auth import authenticate, login, logout
from shared_models.models import User


def create_user(request):
    username = request.POST['username']
    password = request.POST['password']
    role = request.POST.get('user_type', '')
    extra = {f"is_{role}": True} if role else {}
    User.objects.create_user(username=username, password=password, **extra)

def login_user(request):
    context = {}
    if request.method == "POST":
        username = request.POST['username']
        password = request.POST['password']
        user = authenticate(request, username=username, password=password)
        if user is not None:
            login(request, user)
            request.session['user'] = username
            if user.roles:
                return redirect(f'/{user.roles[0]}/')
            context['auth_mess'] = "Incorrect user type!"
            context['auth_mess_color'] = "red"
            return render(request, 'authentication_index.html', context)
        else:
            context['auth_mess'] = "Incorrect password/username!"
            context['auth_mess_color'] = "red"
            return render(request, 'authentication_index.html', context)
    else:
        return render(request, 'authentication_index.html', context)

def logout_user(request):
    context = {}
    logout(request)
    context['log_out_mess'] = "User was logged out."
    context['log_out_mess_color'] = "green"
    return render(request, 'authentication_index.html', context)

def autologin(request):
    username = request.GET.get('as', '')
    role = request.GET.get('role', '')
    user = User.objects.filter(username=username).first() if username else None
    if user is None and role:
        user = User.objects.filter(**{f"is_{role}": True}).first()
    if user is None:
        user = User.objects.filter(is_superuser=False).first()
    if user:
        user.backend = 'django.contrib.auth.backends.ModelBackend'
        login(request, user)
        if user.roles:
            return redirect(f'/{user.roles[0]}/')
    return redirect('/')

def register_user(request):
    context = {}
    if request.method == "POST":
        username = request.POST['username']
        password = request.POST['password']
        role = request.POST.get('user_type', '')
        if User.objects.filter(username=username).exists():
            context['reg_mess'] = "User " + username + " already exists!"
            context['reg_mess_color'] = "red"
            return render(request, 'authentication_index.html', context)
        extra = {f"is_{role}": True} if role else {}
        User.objects.create_user(username=username, password=password, **extra)
        context['reg_mess'] = "Successfuly created user: " + username
        context['reg_mess_color'] = "green"
        return render(request, 'authentication_index.html', context)
    else:
        return render(request, 'authentication_index.html', context)
