{% raw %}{%{% endraw %} extends "authentication_base.html" {% raw %}%}{% endraw %}
{% raw %}{% block content %}{% endraw %}

<h1>{{ project_name }} prototype</h1>

<div>
    <h3>Login</h3>
    <p style="color:{% raw %}{{ log_out_mess_color }}{% endraw %};font-size:16px;">{% raw %}{{ log_out_mess }}{% endraw %}</p>
    <table>
        <form action="login" method="POST">
            {% raw %}{% csrf_token %}{% endraw %}
            <tr>
                <td>
                    <input type="text" name="username" placeholder="Username" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password" placeholder="Password" required>
                </td>
            </tr>
            <tr>
                <td>
                <p style="color:{% raw %}{{ auth_mess_color }}{% endraw %};font-size:16px;">{% raw %}{{ auth_mess }}{% endraw %}</p>
                <td>
            </tr>
            <tr>
                <td>
                    <input value="Login" type="submit">
                </td>
            </tr>
        </form>
    </table>
</div>

<div>
    <h3>Register</h3>
    <table>
        <form action="register" method="POST">
            {% raw %}{% csrf_token %}{% endraw %}
            <tr>
                <td>
                    <input type="text" name="username" placeholder="Username" required>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password" placeholder="Password" required>
                </td>
            </tr>
            <tr>
                {% for user_type in user_types %}
                <td class="stacked">
                    <input type="radio" id="is_{{ user_type }}" name="user_type" value="{{ user_type }}" required>
                    <label for="is_{{ user_type }}">{{ user_type }}</label>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>
                    <p style="color:{% raw %}{{ reg_mess_color }}{% endraw %};font-size:16px;">{% raw %}{{ reg_mess }}{% endraw %}</p>
                <td>
            </tr>
            <tr>
                <td>
                    <input value="Register" type="submit" required>
                </td>
            </tr>
        </form>
    </table>
</div>

{% raw %}{% endblock %}{% endraw %}