body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    color: #555;
    margin-bottom: 10px;
}

div {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-spacing: 0;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(59 130 246);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: rgb(37 99 235);
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    margin-right: 15px;
    font-size: 14px;
    color: #333;
}

p {
    margin: 0;
    padding: 5px 0;
    font-size: 14px;
}

p[style*="color:"] {
    font-weight: bold;
}

.stacked {
    display: block;
    width: 100%;
    padding: 10px 0;
    border: none;
}

.stacked input,
.stacked label {
    display: inline-block;
    margin: 0 5px;
}