from django.shortcuts import get_object_or_404, redirect, render
from django.urls import reverse, reverse_lazy
from django.http import HttpResponse, HttpResponseForbidden

from workflow_engine.models import ActionLog, ActiveProcess, ActiveProcessNode, Process
from shared_models.models import User
from shared_models.views import GenericView, GenericTemplateView, GenericUpdateView

class StartProcessView(GenericView):
    {% if authentication_present -%}
    required_roles = None
    {% endif %}
    def post(self, request, process_id, *args, **kwargs):
        process = get_object_or_404(Process, id=process_id)
        active_process_node = process.start_process(request.user)
        return redirect(f"{active_process_node.action_node.url}/{active_process_node.id}")


class RedirectToProcessView(GenericView):
    {% if authentication_present -%}
    required_roles = None
    {% endif %}
    def post(self, request, active_process_node_id, *args, **kwargs):
        active_process_node = get_object_or_404(ActiveProcessNode, id=active_process_node_id)
        return redirect(f"{active_process_node.action_node.url}/{active_process_node.id}")


class CompleteProcessStepView(GenericView):
    {% if authentication_present -%}
    required_roles = None
    {% endif %}
    def post(self, request, active_process_node_id, *args, **kwargs):
        active_process_node = get_object_or_404(ActiveProcessNode, id=active_process_node_id)
        active_process_node.complete_node(request.user)
        return redirect(f'/{request.user.roles[0]}')


class DeleteProcessView(GenericView):
    {% if authentication_present -%}
    required_roles = None
    {% endif %}
    def post(self, request, active_process_node_id, *args, **kwargs):
        active_process_node = get_object_or_404(ActiveProcessNode, id=active_process_node_id)
        if active_process_node.user != request.user:
            return HttpResponseForbidden("You do not have permission to delete this process.")
        active_process_node.active_process.completed = True
        active_process_node.active_process.save()
        active_process_node.delete()
        ActionLog.objects.create(
            status="CANCELLED",
            action_node=active_process_node.action_node,
            active_process=active_process_node.active_process,
            user=request.user,
        )
        return redirect(f'/{request.user.roles[0]}')


class ActionLogView(GenericTemplateView):
    {% if authentication_present -%}
    required_roles = [{% for name in manager_roles %}'{{ name }}'{% if not loop.last %}, {% endif %}{% endfor %}]
    {% endif %}
    def __init__(self, template_name, **kwargs):
        super().__init__(**kwargs)
        self.template_name = template_name
    
    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        action_logs = ActionLog.objects.all()
    
        if status_filter := self.request.GET.get("status"):
            action_logs = action_logs.filter(status=status_filter)
        
        if user_filter := self.request.GET.get("user"):
            action_logs = action_logs.filter(user__username=user_filter)
        
        if active_process_filter := self.request.GET.get("active_process_id"):
            action_logs = action_logs.filter(active_process__id=active_process_filter)
        
        context = {
            'action_logs': action_logs,
            'status_choices': ActionLog.STATUS_CHOICES,
        }

        return context

class ChangeUserAssignmentView(GenericTemplateView):
    {% if authentication_present -%}
    required_roles = [{% for name in manager_roles %}'{{ name }}'{% if not loop.last %}, {% endif %}{% endfor %}]
    {% endif %}

    def __init__(self, template_name, **kwargs):
        super().__init__(**kwargs)
        self.template_name = template_name
    
    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        active_process_nodes = ActiveProcessNode.objects.filter(active_process__completed=False)

        if update_instance_id := self.request.GET.get("update_instance_id"):
            update_instance = get_object_or_404(ActiveProcessNode, id=update_instance_id)
            actor = update_instance.action_node.actor
            possible_users = User.objects.filter(**{f"is_{actor}": True})
            return {
                'active_processes': active_process_nodes,
                'update_instance': update_instance,
                'possible_users': possible_users,
            }
        return {
            'active_processes': active_process_nodes,
        }


class ChangeUserAssignmentUpdateView(GenericView):
    {% if authentication_present -%}
    required_roles = [{% for name in manager_roles %}'{{ name }}'{% if not loop.last %}, {% endif %}{% endfor %}]
    {% endif %}

    def post(self, request, pk, app, *args, **kwargs):
        active_process_node = get_object_or_404(ActiveProcessNode, pk=pk)
        if new_user_id := request.POST.get("new_user"):
            new_user = get_object_or_404(User, pk=new_user_id)
            active_process_node.reassign_user(new_user)
        return redirect(reverse(f"{app}:{app}_change_user_assignment"))

