from shared_models.models import {% for model in list_of_models_without_creates %}{{model}}{% if not loop.last %}, {% endif %}{% endfor %}
{% for model in list_of_models_without_creates %}
    {% for model_data in models -%}
        {% if model_data.name == "User" -%}
        {% else -%}
            {% if model_data.name == model %}

new_add_{{ model_data.name }}_operation = {{ model_data.name }}(
                {%- for attribute in model_data.attributes -%}
                    {%- if attribute.name == "name" -%}
                                            name = "demo {{ model_data.name }}"
                    {%- elif attribute.type == "bool" -%}
                                            {{ attribute.name }} = False
                    {%- elif attribute.type == "int" -%}
                                            {{ attribute.name }} = 1
                    {%- else -%}
                                            {{ attribute.name }} = "demo {{ model_data.name }} {{attribute.name}}"
                    {%- endif -%}
                    {% if not loop.last -%}, {% endif -%}
                {%- endfor -%}
                                                                                            )
new_add_{{ model_data.name }}_operation.save()
            {% endif -%}
        {% endif -%} 
    {% endfor -%}
{% endfor -%}