/* Set background color and text color */
body {
    background-color: {{ background_color }};
    color: {{ text_color }};
    font-family: 'Roboto', sans-serif;
    text-align: {{ text_alignment }};
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 300px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 50px
}

.logo img {
    max-height: 50px;
    width: auto;
}

/* Style the menu with abstract background */
.menu {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 200px;
    background: #f7f7f7;
    color: {{ text_color }};
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    float: left;
    z-index: 100;
}

.menu a {
    display: block;
    padding: 12px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-bottom: 10px;
}

/* Style buttons with abstract background and hover effect */
input[type="button"] {
    background: {{ accent_color }};
    color: {{ text_color }};
    border: none;
    border-radius: {{ radius }}px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

input[type="button"]:hover {
    background: {{ accent_color }};
    transform: scale(1.05);
}

/* Style buttons with abstract background and hover effect */
input[type="submit"] {
    background: {{ accent_color }};
    color: {{ text_color }};
    border: none;
    border-radius: {{ radius }}px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

input[type="submit"]:hover {
    background: {{ accent_color }};
    transform: scale(1.05);
}

/* Style input fields with subtle box shadow on focus */
input[type="text"], input[type="number"] {
    border: 1px solid {{ accent_color }};
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width:100px;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: {{ accent_color }};
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

/* Style input fields with subtle box shadow on focus */
input[type="password"] {
    border: 1px solid {{ accent_color }};
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width:100px;
}

input[type="password"]:focus {
    border-color: {{ accent_color }};
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.content {
    margin-left: 300px;
}

select {
    border: 1px solid {{ accent_color }}
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    color: {{ accent_color }};
    font-family: 'Roboto', sans-serif;
}

select:focus {
    border-color: {{ accent_color }};
    outline: none; 
}


select option {
    color: {{ accent_color }};
}


select::-ms-expand {
    display: none;
}


select::after {
    content: '\25BC';
    position: absolute;
    top: calc(50% - 0.5em);
    right: 10px;
    pointer-events: none;
}