# =============================================================================
# Database settings
# -----------------------------------------------------------------------------
POSTGRES_USER=cbdbuser
POSTGRES_PASSWORD=<password>
POSTGRES_DB=chatbot_db
POSTGRES_HOST=postgres