{% raw %}{%{% endraw %} extends "{{ app_name }}_base.html" {% raw %}%}{% endraw %}
{% raw %}{% block content %}{% endraw %}

<h2>Welcome, <b>{% raw %}{{ user }}{% endraw %}</b></h2>
<h3>Use the navigation menu on the left to navigate through this application.</h3>

{% raw %}{% endblock %}{% endraw %}