/* Set background color and text color */
body {
    background-color: {{ background_color }};
    color: {{ text_color }};
    font-family: Arial, sans-serif;
    text-align: {{ text_alignment }};
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-left: 300px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-right: 50px
}

.logo img {
    max-height: 50px;
    width: auto;
}

/* Style the menu */
.menu {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: #f7f7f7;
    color: #1034A6;
    padding: 80px;
    float: left;
    z-index: 100;
}

.menu a {
    display: block;
    padding: 12px;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    margin-bottom: 10px;
}

/* Style buttons */
input[type="button"] {
    background-color: {{ accent_color }};
    color: {{ text_color }};
    border: none;
    border-radius: {{ radius }}px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Style buttons */
input[type="submit"] {
    background-color: {{ accent_color }};
    color: {{ text_color }};
    border: none;
    border-radius: {{ radius }}px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Style input fields */
input[type="text"], input[type="number"] {
    border: 1px solid {{ accent_color }};
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    width:100px;
}

/* Style input fields */
input[type="password"] {
    border: 1px solid {{ accent_color }};
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    width:100px;
}

.content {
    margin-left: 300px;
}

select {
    border: 1px solid {{ accent_color }}
    border-radius: {{ radius }}px;
    padding: 8px;
    margin-bottom: 10px;
    transition: border-color 0.3s ease;
    color: {{ accent_color }};
    font-family: 'Roboto', sans-serif;
}

select:focus {
    border-color: {{ accent_color }};
    outline: none; 
}


select option {
    color: {{ accent_color }};
}


select::-ms-expand {
    display: none;
}


select::after {
    content: '\25BC';
    position: absolute;
    top: calc(50% - 0.5em);
    right: 10px;
    pointer-events: none;
}