{% raw %}{% load static %}{% endraw %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ application_name }}</title>
            <link rel="stylesheet" href='{% raw %}{%{% endraw %} static '{{ application_name }}/{{ application_name }}_style.css' {% raw %}%}{% endraw %}'>
    </head>

    <body>
        <div class="header">
            <div class="logo">
                <img src='{{ logo }}'>
            </div>
            <h1>{{ application_name | capitalize }}</h1>
        </div>
            <div class="menu">
                <a href="{% raw %}{%{% endraw %} url '{{ application_name }}-homerender' {% raw %}%}{% endraw %}">Home</a>
                {% if settings.manager_access %}
                <a href="{% raw %}{%{% endraw %} url '{{ application_name }}_action_log' {% raw %}%}{% endraw %}">Activity log</a>
                {% endif %}
                {% for category in categories %}
                <b>{{ category }}</b>
                {% for page in pages %}
                {% if page.type == 'normal'%}
                {% if page.category == category.name %}
                <a href="{% raw %}{%{% endraw %} url 'render_{{ page.application }}_{{ page }}' {% raw %}%}{% endraw %}">{{ page.display_name
                    }}</a>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}

                <br>

                {% for page in pages %}
                {% if page.category in ["", none] and page.type != 'activity' %}
                <a href="{% raw %}{%{% endraw %} url 'render_{{ page.application }}_{{ page }}' {% raw %}%}{% endraw %}">{{ page.display_name
                    }}</a>
                {% endif %}
                {% endfor %}

                {% if authentication_present -%}
                {% raw %}<a href="{% url 'logout' %}">Logout</a>{% endraw %}
                {% else -%}
                {% raw %}<a href="{% url 'noauth_home-homerender' %}">Other Application</a>{% endraw %}
                {% endif -%}
            </div>
    
    <div class="content">
        {% raw %}
        {% block content %}

        {% endblock %}
        {% endraw %}
    </div>
    </body>
</html>
