{% raw %}{%{% endraw %} extends "{{ application_name }}_base.html" {% raw %}%}{% endraw %}
{% raw %}{% block content %}{% endraw %}

{% if authentication_present -%}
<h2>Welcome, <b>{% raw %}{{ user }}{% endraw %}</b></h2>
{% else %}
<h2>Welcome!</b></h2>
{% endif -%}

<h3>Use the navigation menu on the left to navigate through this application.</h3>

{% if authentication_present -%}
    <div class="process-container">
        <div class="available-processes">
            <h3>Available Processes</h3>
            {% raw %}{% if available_processes %}{% endraw %}
                <div class="process-list">
                    {% raw %}{% for process in available_processes %}{% endraw %}
                        <div class="process-item">
                            <h4>{% raw %}{{ process.name }}{% endraw %}</h4>
                            <form method="post" action="{% raw %}{%{% endraw %} url 'workflow_engine:start_process' process.id {% raw %}%}{% endraw %}">
                                {% raw %}{% csrf_token %}{% endraw %}
                                <button type="submit" class="process-button">Start</button>
                            </form>
                        </div>
                    {% raw %}{% endfor %}{% endraw %}
                </div>
            {% raw %}{% else %}{% endraw %}
                <p class="no-processes">No processes available.</p>
            {% raw %}{% endif %}{% endraw %}
        </div>
        <div class="active-processes">
            <h3>Active Processes</h3>
            {% raw %}{% if active_processes %}{% endraw %}
                <div class="process-list">
                    {% raw %}{% for active_process in active_processes %}{% endraw %}
                        <div class="process-item">
                            <div>
                                <h4>{% raw %}{{ active_process.process.name }}{% endraw %}</h4>
                                <p class="active-node-name">{% raw %}{{ active_process.active_node.name }}{% endraw %}</p>
                            </div>
                            <form method="post" action="{% raw %}{%{% endraw %} url 'workflow_engine:redirect_to_process' active_process.id {% raw %}%}{% endraw %}">
                                {% raw %}{% csrf_token %}{% endraw %}
                                <button type="submit" class="process-button">Go to Task</button>
                            </form>
                        </div>
                    {% raw %}{% endfor %}{% endraw %}
                </div>
            {% raw %}{% else %}{% endraw %}
                <p class="no-processes">No active processes.</p>
            {% raw %}{% endif %}{% endraw %}
        </div>
    </div>
{% endif %}

{% raw %}{% endblock %}{% endraw %}