from django.db import models
from django.contrib.auth.models import AbstractUser
from django.shortcuts import get_object_or_404

{% if authentication_present -%}
class User(AbstractUser):
    {% if user_types -%}
    {% for user_type in user_types -%}
    is_{{ user_type }} = models.BooleanField(default=False)
    {% endfor -%}
    {% else -%}
    pass
    {% endif %}
{% endif %}

{% for model in models -%}
class {{ model.name }}(models.Model):
    {% if model.attributes -%}
    {% for attribute in model.attributes -%}
    {% if attribute.derived and attribute.body %}
    @property
    {{ attribute.body | replace('\n','\n    ') }}
    {% elif attribute.type == AttributeType.BOOLEAN -%}
    {{ attribute.name }} = models.BooleanField(default=False, blank=True)
    {% elif attribute.type == AttributeType.INTEGER -%}
    {{ attribute.name }} = models.IntegerField(default=0, null=True, blank=True)
    {% elif attribute.name == "username" or attribute.name == "password" -%}
    {% elif attribute.type == AttributeType.STRING -%}
    {{ attribute.name }} = models.CharField(max_length=255, default='', null=True, blank=True)
    {% elif attribute.type == AttributeType.FOREIGN_MODEL -%}

    {% if attribute.cardinality == Cardinality.ONE_TO_ONE_SOURCE %}
    {{ attribute.name }} = models.OneToOneField("{{ attribute.name }}", on_delete=models.CASCADE)
    {% elif attribute.cardinality in [Cardinality.ZERO_ONE_TO_ONE, Cardinality.ONE_MANY_TO_ZERO_ONE] %}
    {{ attribute.name }} = models.ForeignKey("{{ attribute.name }}", on_delete=models.CASCADE, null=True, blank=True)
    {% elif attribute.cardinality == Cardinality.ZERO_ONE_TO_ZERO_ONE_SOURCE %}
    # TODO: {{ attribute.name }} Cardinality.ZERO_ONE_TO_ZERO_ONE_SOURCE
    {% elif attribute.cardinality in [Cardinality.ZERO_MANY_TO_ONE, Cardinality.ONE_MANY_TO_ONE] %}
    {{ attribute.name }} = models.ForeignKey("{{ attribute.name }}", on_delete=models.CASCADE)
    {% elif attribute.cardinality == Cardinality.ZERO_MANY_TO_ZERO_MANY_SOURCE %}
    # TODO: {{ attribute.name }} Cardinality.ZERO_MANY_TO_ZERO_MANY_SOURCE
    {% elif attribute.cardinality == Cardinality.ZERO_MANY_ONE_MANY %}
    {{ attribute.name }} = models.ManyToManyField("{{ attribute.name }}")
    {% elif attribute.cardinality == Cardinality.ZERO_MANY_TO_ZERO_ONE %}
    {{ attribute.name }} = models.ForeignKey("{{ attribute.name }}", on_delete=models.SET_NULL, null=True, blank=True)
    {% elif attribute.cardinality == Cardinality.ONE_MANY_TO_ONE_MANY_SOURCE %}
    # TODO: {{ attribute.name }} Cardinality.ONE_MANY_TO_ONE_MANY_SOURCE
    {% endif %}


    {% elif attribute.type == AttributeType.ENUM %}
    class {{ attribute.name }}(models.TextChoices):
        {% for literal in attribute.enum_literals -%}
        {{ literal }} = '{{ literal }}', '{{ literal }}'
        {% endfor %}
    {{ attribute.name }} = models.CharField(
        max_length=512,
        choices={{ attribute.name }}.choices,
        default={{ attribute.name }}.choices[0][0]
    )
    {% endif -%}
    {% endfor -%}
    {% else -%}
    pass
    {% endif -%}

    {% if model.object_name_attribute %}
    def __str__(self):
        return self.{{ model.object_name_attribute }}
    {% endif %}

    {%- for custom_method in model.custom_methods %}
    {% if custom_method.body_is_valid -%}

    {{ custom_method.body | replace('\n','\n    ') -}}
    {% endif -%}
    {% endfor %}
{% endfor %}