from django.urls import path
from . import views

from workflow_engine.views import action_log_view

urlpatterns = [
    path("", views.HomeRenderView.as_view(), name="{{ application_name }}-homerender"),
    path('action-log/', action_log_view, {'template_name': '{{ application_name}}_action_log.html'}, name="{{ application_name }}_action_log"),
    {% for page in pages -%}
    path("render_{{ application_name}}_{{ page }}", views.{{ application_name }}_{{ page }}_ListView.as_view(), name="render_{{ application_name }}_{{ page }}"),
    {% for section_component in page.section_components -%}
    {% if section_component.has_create_operation -%}
    path('{{ page }}_{{ section_component }}_create/', views.{{ page }}_{{ section_component }}_CreateView.as_view(), name='{{ page }}_{{ section_component }}_create'),
    {% endif -%}
    {% if section_component.has_update_operation -%}
    path('{{ page }}_{{ section_component }}_update/<int:pk>/', views.{{ page }}_{{ section_component }}_UpdateView.as_view(), name='{{ page }}_{{ section_component }}_update'),
    {% endif -%}
    {% if section_component.has_delete_operation -%}
    path('{{ page }}_{{ section_component }}_delete/<int:pk>/', views.{{ page }}_{{ section_component }}_DeleteView.as_view(), name='{{ page }}_{{ section_component }}_delete'),
    {% endif -%}
    {% endfor -%}
    {% endfor -%}
]