from django.shortcuts import get_object_or_404
from django.urls import reverse_lazy
from django.views.generic import TemplateView
from shared_models.models import *
from shared_models.views import GenericListView, GenericCreateView, GenericUpdateView, GenericDeleteView, GenericTemplateView, GenericDetailView
from workflow_engine.models import ActiveProcess, ActiveProcessNode, Process

{# Create, Update, Delete views #}
{% for page in pages -%}
{% for section_component in page.section_components -%}

{% if section_component.has_create_operation %}
class {{ page }}_{{ section_component }}_CreateView(GenericCreateView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    model = {{ section_component.primary_model }}
    fields = [{% for attribute in section_component.attributes %}{% if attribute.name not in ['username', 'password'] and not attribute.derived and attribute.type != AttributeType.NONE %}'{{ attribute.name }}', {% endif %}{% endfor %}]
    template_name = '{{ application_name }}_{{ page }}.html'
    success_url = reverse_lazy('{{ application_name }}:render_{{ application_name }}_{{ page }}')

    def form_valid(self, form):
        instance = form.save(commit=False)
        {% for attribute in section_component.attributes -%}
        {% if not attribute.derived -%}
        {% if attribute.type == AttributeType.BOOLEAN -%}
        instance.{{ attribute }} = (self.request.POST.get('{{ attribute }}') == 'on')
        {% elif attribute.type in [AttributeType.STRING, AttributeType.ENUM] -%}
        if not instance.{{ attribute }}:
            instance.{{ attribute }} = None
        {% endif -%}
        {% endif -%}
        {% endfor -%}
        {% for parent_model in section_component.parent_models -%}
        parent_{{ parent_model }}_pk = self.request.POST.get('{{ parent_model }}')
        if parent_{{ parent_model }}_pk:
            instance.{{ parent_model }} = get_object_or_404({{ parent_model }}, pk=parent_{{ parent_model }}_pk)
        else:
            # Check if the field allows null
            field = self.model._meta.get_field('{{ parent_model }}')
            if not field.null:
                from django.contrib import messages
                messages.error(self.request, '{{ parent_model }} is required.')
                return self.form_invalid(form)
        {% endfor -%}
        instance.save()
        # OOUX: auto-associate instance with active workflow process if one exists for this user
        _active_node = ActiveProcessNode.objects.filter(
            user=self.request.user,
            active_process__completed=False,
        ).select_related('action_node').first()
        if _active_node:
            _active_node.active_process.add_associated_instance(instance)
        return super().form_valid(form)
{% endif %}

{% if section_component.has_update_operation %}
class {{ page }}_{{ section_component }}_UpdateView(GenericUpdateView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    model = {{ section_component.primary_model }}
    fields = [{% for attribute in section_component.attributes %}{% if attribute.name not in ['username', 'password'] and not attribute.derived and attribute.type != AttributeType.NONE %}'{{ attribute.name }}', {% endif %}{% endfor %}]
    template_name = '{{ application_name }}_{{ page }}.html'
    success_url = reverse_lazy('{{ application_name }}:render_{{ application_name }}_{{ page }}')

    def form_valid(self, form):
        instance = form.save(commit=False)
        {% for attribute in section_component.attributes -%}
        {% if not attribute.derived -%}
        {% if attribute.type == AttributeType.BOOLEAN -%}
        instance.{{ attribute }} = (self.request.POST.get('{{ attribute }}') == 'on')
        {% elif attribute.type in [AttributeType.STRING, AttributeType.ENUM] -%}
        if not instance.{{ attribute }}:
            instance.{{ attribute }} = None
        {% endif -%}
        {% endif -%}
        {% endfor -%}
        {% for parent_model in section_component.parent_models -%}
        parent_{{ parent_model }}_pk = self.request.POST.get('{{ parent_model }}')
        if parent_{{ parent_model }}_pk:
            instance.{{ parent_model }} = get_object_or_404({{ parent_model }}, pk=parent_{{ parent_model }}_pk)
        else:
            # Check if the field allows null
            field = self.model._meta.get_field('{{ parent_model }}')
            if not field.null:
                from django.contrib import messages
                messages.error(self.request, '{{ parent_model }} is required.')
                return self.form_invalid(form)
        {% endfor -%}
        return super().form_valid(form)
{% endif -%}

{% if section_component.has_delete_operation -%}
class {{ page }}_{{ section_component }}_DeleteView(GenericDeleteView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    model = {{ section_component.primary_model }}
    template_name = '{{ application_name }}_{{ page }}.html'
    success_url = reverse_lazy('{{ application_name }}:render_{{ application_name }}_{{ page }}')
{% endif -%}
{% endfor -%}
{% endfor -%}

{# List views #}
{% for page in pages %}
{% if models_on_pages[page]['primary_models'] %}
class {{ application_name }}_{{ page }}_ListView(GenericListView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    template_name='{{ application_name }}_{{ page }}.html'
    model = {{ models_on_pages[page]['primary_models'][0] }}
    context_object_name = '{{ models_on_pages[page]['primary_models'][0] }}_list'

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        {% for model in models_on_pages[page]['parent_models'] -%}
        context['parent_{{model}}_list'] = {{model}}.objects.all()
        {% endfor -%}
        {% for primary_model in models_on_pages[page]['primary_models'][1:] -%}
        context['{{ primary_model }}_list'] = {{ primary_model }}.objects.all()
        {% endfor -%}
        # OOUX: look up the current user's active workflow node (any process, any step)
        _active_node = ActiveProcessNode.objects.filter(
            user=self.request.user,
            active_process__completed=False,
        ).select_related('action_node').first()
        context['current_action_node_id'] = _active_node.action_node.name if _active_node else None
        context['active_process_node_id'] = _active_node.id if _active_node else None
        return context

{% else %}
class {{ application_name }}_{{ page }}_ListView(GenericTemplateView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    template_name='{{ application_name }}_{{ page }}.html'
{% endif %}
{% endfor -%}


{# Detail views for OOUI #}
{% for model_name in all_models -%}
class {{ model_name }}_DetailView(GenericDetailView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    model = {{ model_name }}
    template_name = '{{ application_name }}_{{ model_name }}_detail.html'
    context_object_name = 'object'

{% endfor %}

{# Home render view #}
class HomeRenderView(GenericTemplateView):
    {% if authentication_present -%}
    required_roles = ['{{ application_name }}']
    {% endif -%}
    template_name = '{{ application_name }}_home.html'

    def get_context_data(self, **kwargs):
        context = super().get_context_data(**kwargs)
        context['user'] = self.request.user
        context['active_process_nodes'] = ActiveProcessNode.objects.filter(
            user=self.request.user,
            active_process__completed=False,
        )
        context['available_processes'] = Process.get_available_processes(self.request.user)
        return context
