from django.db import models
from django.contrib.auth.models import AbstractUser
from django.shortcuts import get_object_or_404
{%- for model1 in models -%}
{% if model1.name == "User" %}

class {{ model1.name }}(AbstractUser):
    {%- for user_type in user_types %}
    is_{{ user_type }} = models.BooleanField(default=False)
    {% endfor -%}
{% endif -%}
{% endfor -%}

{% for model in models -%}
{% if model.name == "User" -%}
{% else -%}
{% if model.name in user_types %}

class {{ model.name }}(User):
{%- else %}

class {{ model.name }}(models.Model):
    {%- endif %}
    {% for attribute in model.attributes -%}
    {%- if attribute.type == AttributeType.BOOLEAN -%}
    {{ attribute.name }} = models.BooleanField(default=False)
    {% elif attribute.type == AttributeType.INTEGER -%}
    {{ attribute.name }} = models.IntegerField(default=0, null=True)
    {% elif attribute.name == "username" or attribute.name == "password" -%}
    {% elif attribute.type == AttributeType.STRING -%}
    {{ attribute.name }} = models.CharField(max_length=255, default='', null=True)
    {% elif attribute.type == AttributeType.FOREIGN_MODEL -%}
    {{ attribute.name }} = models.ForeignKey("{{ attribute.name }}", on_delete=models.CASCADE)
    {% endif -%}
    {% endfor -%}

    {%- for custom_method in model.custom_methods %}

    def {{ custom_method.name }}(self, request = None):
        {{ custom_method.body| replace('\n','\n        ') -}}
    {% endfor %}
{% endif -%}
{% endfor %}